<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>TOP 영수학원</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

	<!-- stylesheet -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/ta/style.css}">
	    
</head>
<body>
	<div id="wrap" class="container">
      <header class="d-flex">
        <!-- 상단 좌측 로고 영역 -->
        <div class="col-2 d-flex align-items-center justify-content-center">
          <h1>
            <a href="/ta/main" class="text-danger logo-text">TOP</a>
          </h1>
        </div>

        <!-- 상단 센터 이미지 영역 -->
        <div class="col-8 d-flex align-items-center">
          <img src="/img/harvard.jpg" alt="학원소개이미지" width="100" height="90" />
          <img src="/img/MIT.jpg" alt="학원소개이미지" width="100" height="90" />
          <img src="/img/NU2.jpg" alt="학원소개이미지" width="200" height="90" />
          <img src="/img/KNU.jpg" alt="학원소개이미지" width="100" height="90" />
          <img src="/img/KU.jpg" alt="학원소개이미지" width="100" height="90" />
          <img src="/img/YNU.jpg" alt="학원소개이미지" width="100" height="90" />          
        </div>

        <!-- 상단 우측 광고 영역 -->
	     <div class="col-2 mt-4">       
	            <p>11월 수강 조기 마감!</p> 
	            <p>12월 수강 신청 진행!</p>
	     </div>

      </header>
      <nav class="bg-warning d-flex align-items-center">
        <!-- 중간 메뉴 로고 영역 -->
        <div class="col-2 d-flex align-items-center justify-content-center">
          <a href="/ta/show-curriculum-view" class="text-black">과정소개</a>
        </div>
        <!-- 중간 메뉴 -->
        <ul class="nav col-8 d-flex align-items-center justify-content-between">
          <li class="nav-item"><a href="/ta/show-introduction-view" class="nav-link">학원소개</a></li>
          <li class="nav-item"><a href="/ta/show-lecturer-view" class="nav-link">강사소개</a></li>
          <li class="nav-item"><a href="/ta/show-socialservice-view" class="nav-link">사회공원</a></li>
          <li class="nav-item"><a href="/ta/show-recruit-view" class="nav-link">채용공고</a></li>
          <li class="nav-item"><a href="/ta/show-franchise-view" class="nav-link">프랜차이즈</a></li>
          <li class="nav-item"><a href="/ta/show-customerservice-view" class="nav-link">고객센터</a></li>
        </ul>
        <!-- 중간 광고 로고 영역 -->
        <div class="col-2 d-flex align-items-center justify-content-center">
          <span class="text-green">생활 광고</span>
        </div>
      </nav>
      <section class="contents d-flex">
        <!-- Section 좌측 수직 세로방향 메뉴 영역 -->
        <nav class="col-2">
          <!-- 수직(세로)방향 메뉴: nav + flex-column -->
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/ta/show-basicEnglish-view" class="nav-link">기초영어</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-middleEnglish1-view" class="nav-link">중등영어1</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-middleEnglish2-view" class="nav-link">중등영어2</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-highEnglish1-view" class="nav-link">고등영어1</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-highEnglish2-view" class="nav-link">고등영어2</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-basicMath-view" class="nav-link">기초수학</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-middleMath1-view" class="nav-link">중등수학1</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-middleMath2-view" class="nav-link">중등수학2</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-middleMath3-view" class="nav-link">중등수학3</a>
            </li>
            <li class="nav-item">
              <a href="/ta/show-prehighMath-view" class="nav-link">고등수학선행</a>
            </li>
          </ul>
        </nav>

        <!-- 수직(세로)방향 Main contents -->
        <section class="col-8 mt-2">
          <div class="container">
            <h1 class="text-center">12월 수강 신청 현황</h1>
            <table class="table text-center">
              <thead>
                <tr>
                  <th>시간</th>
                  <th>월</th>
                  <th>화</th>
                  <th>수</th>
                  <th>목</th>
                  <th>금</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>18:00~18:50</td>
                  <td>기초영어 (14/20)</td>
                  <td>중등영어1(15/20)</td>
                  <td>중등영어2(20/20)</td>
                  <td>고등영어1(20/20)</td>
                  <td>고등영어1(20/20)</td>
                </tr>
                <tr>
                  <td>19:00~19:50</td>
                  <td>기초수학 (20/20)</td>
                  <td>중등수학1(20/20)</td>
                  <td>중등수학2(17/20)</td>
                  <td>중등수학3(19/20)</td>
                  <td>고등수학선행(20/20)</td>
                </tr>
              </tbody>
            </table>

            <hr />
            <!-- 알림장 및 강사님에게 한마디-->
            <form method="post" action="/ta/show-survey-view">
	              <div class="d-flex justify-content-between">
	                <h4>설문조사 참여하시고 수강료 할인 받으세요!</h4>
	                <input type="submit" class="btn btn-primary" value="설문 조사 참여" />
	              </div>
	        </form>
 	        <form method="post" action="/ta/show-memorequest-view">
	              <div class="d-flex justify-content-between">
	                <h4 class="mt-2">강사님~ 궁금해요! 도와주세요! </h4>
	                <input type="submit" class="btn btn-primary mt-2" value="강사님에게 한마디" />
	              </div>
	        </form>	 
            <hr />
            <h1 class="text-center">▣ 중등 영어1 과정 ▣</h1>
            
            <h4> ● 강사명: 김대호 강사님 </h4>
            <h4> ● 수강대상: 중등 1 ~ 3, 검정고시 준비 중인 직장인 </h4>
            <h4> ● 교제: Enjoy English Grammar (도서출판: 학습) </h4>
            <h4> ● 과정개요: 기본 영어 문법 및 독해 학습 </h4>
            
          </div>
        </section>

        <!--우측 광고 영역-->
        <aside class="col-2">
          <a
            href="#"
            class="nav-link d-flex justify-content-center align-items-center"
            >맛나 분식</a
          >
          <a
            href="#"
            class="nav-link d-flex justify-content-center align-items-center"
            >동네 서점</a
          >
          <a
            href="https://naver.com"
            class="nav-link d-flex justify-content-center align-items-center"
            target="_blank"
            >네이버</a
          >
          <a
            href="https://google.com"
            class="nav-link d-flex justify-content-center align-items-center"
            target="_blank"
            >구글</a
          >
          <a
            href="https://daum.net"
            class="nav-link d-flex justify-content-center align-items-center"
            target="_blank"
            >다음</a
          >
          <!--
          <li>인스타: <a href="https://naver.com" target="_blank">링크</a></li>-->
          <!--target="_blank":새창오픈-->
          <!--<li>인스타: <a href="https://naver.com">링크</a></li>
           -->
        </aside>
      </section>
      <!-- 하단 영역 -->
      <footer class="d-flex justify-content-center align-items-center">
	        <small>주소: 서울특별시 구로구 가리본동 우마2길 37<br>
	               연락처: 02-2620-7800<br>
	               Copyright 2024. TOP Academy All Right Reserved.</small>
      </footer>
    </div>
</body>
</html>